# General
.DS_Store
.vscode
*__pycache__*

# IPython
profile_default/
ipython_config.py

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints

# Github Copilot
.github

# BioCypher
biocypher-*
data
import.report
